<!DOCTYPE html>
<html data-th-replace="~{layouts/default-layout :: layout(
titrePage=~{:: title},
mainContent=~{::#main-container},
ressourcesSupp=~{::#css})}" lang="en">

<head>
    <th:block id="css">
        <link rel="stylesheet" type="text/css" href="/css/register.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    </th:block>
    <title>Register page</title>
</head>
<body>
<div id="main-container">
    <div class="register_container">
        <div class="header">
            <h1 class="titlebig">Bonjour !</h1>
            <p>Inscrivez-vous pour découvrir toutes nos fonctionalités</p>
        </div>
        <form th:action="@{/register}" method="post">

            <div class="top-row">

                <div class="fist-top-row container">
                    <div class="field-wrap">
                        <label class="label-name" for="surname">Nom<span class="req">*</span></label>
                        <input  class="fields myfield second" type="text" id="surname" name="surname" autofocus="autofocus" required/> <br/>
                    </div>
                    <div class="field-wrap">
                        <label class="label-name" for="email">Email<span class="req">*</span></label>
                        <input  class="fields second third" type="email" id="email" name="email" autofocus="autofocus" required/> <br/>
                    </div>
                </div>
                <div class="second-top-row container">
                    <div class="field-wrap">
                        <label class="label-name"  for="name">Prénom<span class="req">*</span></label>
                        <input  class="fields myfield second" type="text" id="name" name="name" autofocus="autofocus" required/> <br/>
                    </div>
                    <div class="field-wrap">
                        <label class="label-name"  for="username">Pseudo<span class="req">*</span></label>
                        <input  class="fields second third" type="text" id="username" name="username" autofocus="autofocus" required/> <br/>
                    </div>
                </div>
            </div>
            <div class="field-wrap password-fields">
                <label class="label-name"  for="password">Password<span class="req">*</span></label>
                <input  class="fields" type="password" id="password" name="password" required/> <br/>
            </div>
            <div class="subButton">
                <input class="validation fields" type="submit" value="S'inscrire"/>
            </div>
        </form>
        <p class="login_account">Déjà un compte ? <a href="/login">Connecte toi !</a></p>
    </div>
</div>
</body>
</html>